@import url('https://fonts.googleapis.com/css?family=Lato');

body {
    background-color: rgb(200, 200, 200);
    color: rgb(200, 200, 200);
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    margin: 20px;
}

img.img-160x600 {
    position: absolute;
    top: 110px;
    left: 320px;
    margin: 20px;
}

img.img-300x250 {
    position: absolute;
    top: 110px;
    left: 500px;
    margin: 20px;
}

img.img-300x600 {
    position: absolute;
    top: 110px;
    margin: 20px;
}

img.img-728x90 {
    position: absolute;
    margin: 20px;
}


